.navbar{
  border-bottom: 2px solid #aaaab3;
  border-top: 1px solid #aaaab3;
  /* background-color: #000; */
}
.nav-link {
  font-size: 15px !important;
  /* color: #fff !important; */
  font-weight: 600 !important;
}

.navbar-nav-scroll {
  max-height: 350px !important;
}

.logo {
  width: 150px;

  background-color: #fff;
  border-radius:5px;
}
.lang img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

}
.slideImage {
  /* margin-top: 10px !important; */
  height: 90vh !important;

}

.mainHeader {
  font-size: 50px !important;
  font-weight: 700;
}
